@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Nunito:wght@200&family=Permanent+Marker&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Nunito',sans-serif;
	margin: 0px;
} 

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
}

h2, h3, h4 {
	font-family: 'Nunito',sans-serif;
	font-size: 20px;
	font-weight: bold;
}

p {
	font-family: 'Nunito',sans-serif;
	font-size: 18px;
}

a{
	text-decoration: none;
}